.intro {
        width: 136.6rem;
        height: 100%;
        object-fit: cover;
        align-self: stretch;
}


#cabecalho {
    
    h4 {
        span {
            color: var(--red);
        }
    }

    p {
        text-align: center;
    }
    .card {
        position: absolute;
        overflow: hidden;
        
        figcaption {
            display: flex;
            flex-direction: column;
            gap: 8.0rem;
            align-items: center;

            position: absolute;
            top: 12.0rem;
            left: calc(50% - 104rem/2);
            width: 104rem;
            height: 44.7rem;

            .user {
                border-color: var(--red);
                width: 9.6rem;
                height: 9.6rem;
            }

            .icons-intro {
                display: grid;
                grid-auto-flow: column;
                gap: 0.8rem 1.6rem;
                justify-content: center;
            }
            
            .fundo-1 {
                border-radius: 99.9rem;
                width: 11.4rem;
                height: 4.0rem;
                
                align-items: center;
                font : var(--text-md);
                flex: none;
                order: 0;
                flex-grow: 0;

                img {
                    width: 2.4rem;
                    height: 2.4rem;
                    justify-content: center;
                }
            }

            .direcao {
                margin-top: 9.4rem;
            }
        }
    }
}


