.intro {
    width: 145rem;
    height: 100%;
    object-fit: cover;
    align-self: stretch;
}


#cabecalho {

h4 {
    span {
        color: var(--red);
    }
}

p {
    text-align: center;
}
.card {
    position: absolute;
    overflow: hidden;
    
    figcaption {
        display: flex;
        flex-direction: column;
        gap: 8.0rem;
        align-items: center;
        justify-self: center;

        position: absolute;
        top: 12.0rem;
        left: calc(50% - 104rem/2);
        width: 104rem;
        height: 44.7rem;

        .user {
            border-color: var(--red);
            width: 9.6rem;
            height: 9.6rem;
            
            .code {
                position: absolute;
                width: 3.2rem;
                height: 3.2rem;
                left: 54rem;
                top: 7.8rem;
            }
        }

        .introducao {
            width: 68rem;
            height: 15.9rem;
            gap: 2rem;
            justify-self: center;

            h1 {
                margin-bottom: 2rem;
            }

            h4 {
                justify-self: center;
            }
        }

        .icons-intro {
            display: flex;
            flex-direction: row;
            gap: 0.8rem 1.6rem;
            justify-content: center;
        }
        
        .fundo-1 {
            display: inline-block;
            display: grid;
            grid-auto-flow: column;
            border-radius: 99.9rem;
            padding-inline: 1.6rem;
            height: 4.0rem;
            gap: 2.0rem;
            
            align-items: center;
            justify-self: center;
            font : var(--text-md);
            flex: none;
            order: 0;
            flex-grow: 0;
            

            img {
                width: 2.4rem;
                height: 2.4rem;
                padding: auto;
                justify-self: center;
            }
        }

        .direcao {
            padding-top: 9.4rem;
        }
    }
  }
}